body{
  background: url('images/unnamed.jpg');
  background-size: cover;
  font-family: 'Bebas Neue', cursive;
  overflow: hidden;
  margin: 0 auto;
 }

 /* LITTLE TITLE ANIMATION FROM CODEMYUI.COM (JUST FOR THE AESTHETIC) end at l.204 */

 .sign {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   height: 50%;
   background-image: radial-gradient(
     ellipse 50% 35% at 50% 50%,
     #6b1839,
     transparent
   );
   z-index: 1;
   transform: translate(-50%, -50%);
   letter-spacing: 2;
   left: 50%;
   top: 50%;
   font-family: 'Audiowide', cursive;
   text-transform: uppercase;
   font-size: 6em;
   color: #ffe6ff;
   text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
     -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
     0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
   animation: shine 2s forwards, flicker 3s infinite;
 }

 @keyframes blink {
   0%,
   22%,
   36%,
   75% {
     color: #ffe6ff;
     text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
       -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
       0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
   }
   28%,
   33% {
     color: #ff65bd;
     text-shadow: none;
   }
   82%,
   97% {
     color: #ff2483;
     text-shadow: none;
   }
 }
 
 .flicker {
   animation: shine 2s forwards, blink 3s 2s infinite;
 }
 
 .fast-flicker {
   animation: shine 2s forwards, blink 10s 1s infinite;
 }
 
 @keyframes shine {
   0% {
     color: #6b1839;
     text-shadow: none;
   }
   100% {
     color: #ffe6ff;
     text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
       -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
       0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
   }
 }
 
 @keyframes flicker {
   from {
     opacity: 1;
   }
 
   4% {
     opacity: 0.9;
   }
 
   6% {
     opacity: 0.85;
   }
 
   8% {
     opacity: 0.95;
   }
 
   10% {
     opacity: 0.9;
   }
 
   11% {
     opacity: 0.922;
   }
 
   12% {
     opacity: 0.9;
   }
 
   14% {
     opacity: 0.95;
   }
 
   16% {
     opacity: 0.98;
   }
 
   17% {
     opacity: 0.9;
   }
 
   19% {
     opacity: 0.93;
   }
 
   20% {
     opacity: 0.99;
   }
 
   24% {
     opacity: 1;
   }
 
   26% {
     opacity: 0.94;
   }
 
   28% {
     opacity: 0.98;
   }
 
   37% {
     opacity: 0.93;
   }
 
   38% {
     opacity: 0.5;
   }
 
   39% {
     opacity: 0.96;
   }
 
   42% {
     opacity: 1;
   }
 
   44% {
     opacity: 0.97;
   }
 
   46% {
     opacity: 0.94;
   }
 
   56% {
     opacity: 0.9;
   }
 
   58% {
     opacity: 0.9;
   }
 
   60% {
     opacity: 0.99;
   }
 
   68% {
     opacity: 1;
   }
 
   70% {
     opacity: 0.9;
   }
 
   72% {
     opacity: 0.95;
   }
 
   93% {
     opacity: 0.93;
   }
 
   95% {
     opacity: 0.95;
   }
 
   97% {
     opacity: 0.93;
   }
 
   to {
     opacity: 1;
   }
 }
   /* END */
 
      /* TO ADJUST THE VOLUME INTENSITY */

   .volume{
      padding-left: 45%;
      background-color: #fd79a8;
   }

    /* TO START THE MICKAEL JACKSON SONG */
    
  .jackson{
    padding: 0;
    margin-top: 0 auto;
    background-color: #fd79a8; 
  }

  .button{
    background-color: #fd79a8; 
    border: white solid 1px;
    transition-duration: 0.4s;
    font-family: 'Audiowide', cursive;
    color: white;
    padding: 10px 20px;
    margin-left: 45%;
  }

  .button:hover{
    background-color: black;
    color: #fd79a8;
    box-shadow: 1px 3px 5px black;
  }

      /* ALL OF THE SONG FOR THE AESTHETIC : paragraph and div design*/
      
 .bass{
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 5%;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1;
 }

.bass p{
    color: #fd79a8;
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
}

 .ding{
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 4px solid black;
    text-shadow: 0 0 5px black;
 }

 .dong{
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 4px solid black;
    text-shadow: 0 0 5px black;
}

.boum{
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 4px solid black;
    text-shadow: 0 0 5px black;
    transition: all .09s;
}

.clap{
   display: flex;
   width: 100%;
   height: 50%;
   margin-top: 20%;
   justify-content: space-around;
   align-items: flex-end;
   z-index: 1;
}

.clap p{
   color: #fd79a8;
   font-size: 24px;
   text-align: center;
   padding-top: 40px;
}